# REQUIRED:

OPENAI_API_KEY=
OPENAI_BASE_URL=https://openrouter.ai/api/v1

# OPTIONAL: override defaults from config.toml.

# FEDOTMAS_DEFAULT_PROXY=openrouter  # or bifrost or litellm
# FEDOTMAS_BIFROST_BASE_URL=http://localhost:8080/api/v1  # default url
# FEDOTMAS_DEFAULT_MODEL=openrouter/openai/gpt-oss-120b
# FEDOTMAS_META_AGENT_MODEL=  # FEDOTMAS_DEFAULT_MODEL if not specified
# FEDOTMAS_META_AGENT_TEMPERATURE=0.3
# FEDOTMAS_DEFAULT_MAX_LOOP_ITERATIONS=3
# FEDOTMAS_LOG_LEVEL=DEBUG
# FEDOTMAS_LOG_DIR=~/.local/state/fedotmas/log
